<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.paypal">
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
  <uses-sdk android:minSdkVersion="16" tools:overrideLibrary="com.paypal.android.sdk.payments"/>
  <application android:allowBackup="true">
  </application>
</manifest>
